# don't ever lint node_modules
node_modules

# don't lint build output (make sure it's set to your correct build folder name)
dist/

# don't lint nyc coverage output
coverage

# webstorm
.idea/

# scripts
scripts/

# cache
__cache__

# test
test/

__test__
