<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.7.0/dist/css/uikit.min.css" />
    <meta charset="UTF-8">
    <style>
    </style>
    <title>{{title}}</title>
</head>
<body>
    <nav style="background-color: #39f;" class="uk-navbar-container uk-margin-bottom" uk-navbar="top: 200">
        <div class="uk-navbar-left">
            <img class="uk-logo uk-margin-left" src="https://s3.cn-north-1.amazonaws.com.cn/assets.xmind.cn/www/assets/images/xmind-logo-dark-66e9bc4b67.svg"></img>
            <ul class="uk-navbar-nav">
                <li>
                    <a href="#" style="color: #fff">
                        <span class="uk-icon uk-margin-small-right" uk-icon="icon: star"></span>
                        Embed Viewer
                    </a>
                </li>
            </ul>
        </div>
        <div class="uk-navbar-right">
            <iframe
                    src="https://ghbtns.com/github-btn.html?user=danielsss&repo=embed-viewer&type=star&count=true"
                    frameborder="0" scrolling="0" width="150" height="20" title="GitHub"
            ></iframe>
        </div>
    </nav>
    <div id="loading" class="uk-section">
        <div class="uk-container uk-width-medium">
            <div class="uk-column-1@m" style="text-align: center;">
                <span uk-spinner="ratio: 4.5"></span>
                <blockquote cite="#" class="uk-column-span"></blockquote>
                <p>Please, Waiting for a moment.</p>
            </div>
        </div>
    </div>
    <div style="max-width: 100%;">
        <div id="mount"></div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.7.0/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.7.0/dist/js/uikit-icons.min.js"></script>
<script src="./embed-viewer.js"></script>
<script type="application/javascript">
    const container = document.querySelector('#mount')
    const contents = "{{{base64}}}";

    const atab = function(base64String) {
        const bs = window.atob(base64String);
        const len = bs.length;
        const bytes = new Uint8Array(len);
        for (let i = 0; i < len; i++) {
            bytes[i] = bs.charCodeAt(i);
        }

        return bytes.buffer;
    }

    const viewer = new XMindEmbedViewer({
        el: container,
        file: atab(contents),
        styles: {
            'height': '720px',
            'width': '100%'
        }
    });
    viewer.setZoomScale(100);
    const iframe = document.getElementById('mount').children[0];
    iframe.onload = function() {
        document.getElementById('loading').remove();
    }

    window.viewer = viewer;

</script>
</html>